<h1>Products (<%= @products.length %>)</h1>
<%= link_to "New Product", "/products/new" %>

<% @products.each do |products| %>
	<p><%= link_to "Edit", "/products/edit" %> 
		Name: <%= products[:name] %>, Description: <%= products[:description] %>
  		Price in Cents: <%= products[:price_in_cents] %>
	</p>

  <%#= link_to image_tag(products.url), "/products/#{products.id}" %>
<% end %>